# PODSTAWOWE PLIKI .NET
bin/
obj/
*.dll
*.exe
*.pdb

# VISUAL STUDIO / RIDER
.vs/
.idea/
*.user
*.suo
# SYSTEM PLIKI
.DS_Store
Thumbs.db

# WRAŻLIWE DANE
appsettings.json
*.env
.env*

# DOZWOLONE PRZYKŁADY
!appsettings.example.json
